
Python/Advanced Python/Pacman_DQL/videos/epoch_75000_episode_8316_score_2235.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_76000_episode_8349_score_880.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_77000_episode_8384_score_2775.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_79000_episode_8453_score_1810.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_83000_episode_8594_score_1880.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_84000_episode_8628_score_2350.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_86000_episode_8696_score_2130.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_87000_episode_8730_score_2075.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_88000_episode_8762_score_3135.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_90000_episode_8829_score_2035.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_91000_episode_8863_score_1435.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_93000_episode_8927_score_2050.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_98000_episode_9093_score_2540.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_103000_episode_9260_score_3960.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_104000_episode_9294_score_3240.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_105000_episode_9325_score_2190.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_106000_episode_9360_score_2795.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_107000_episode_9392_score_1425.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_109000_episode_9458_score_2635.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_110000_episode_9490_score_3295.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_112000_episode_9554_score_3150.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_113000_episode_9586_score_3060.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_114000_episode_9619_score_2340.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_115000_episode_9651_score_3150.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_116000_episode_9682_score_3135.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_119000_episode_9775_score_3035.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_120000_episode_9805_score_3075.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_121000_episode_9836_score_2410.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_123000_episode_9901_score_1515.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_124000_episode_9933_score_3435.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_125000_episode_9966_score_3095.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_126000_episode_9998_score_3465.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_127000_episode_10030_score_2380.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_128000_episode_10064_score_3020.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_129000_episode_10096_score_1935.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_130000_episode_10128_score_3365.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_131000_episode_10159_score_3035.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_132000_episode_10190_score_2730.0.mp4
Python/Advanced Python/Pacman_DQL/videos/epoch_133000_episode_10220_score_3500.0.mp4
