{% extends 'index.html' %}
{% load static %}


{% block title %}
About |
{% endblock title %}


{% block content %}
<section class="bg-dark-primary" style="height: 50vh;">
  <div class="container">

    <div class="row no-gutters justify-content-center" data-aos="fade-up">
      <div class="col-md-9">
        <div class="section-title pr-4">
          <h2 class="text-light">Our Story</h2>

          <p class="text-light text-justify mt-5">
            Here at FamUnite, we’re committed to investing our expertise and resources in order to further achieve our
            cause. We believe that it is important to remember that technology and advancements in AI don't have to be
            solely used in corporations. We believe that this technology has to be implemented in the non-profit sector
            as its magnitude to change people's lives is extremely exciting. We hope that the new leaps in artificial
            intelligence and automation can be implemented in other areas and bring even more change around the globe.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0 m-0" style="height: 50vh;">
  <div class="owl-carousel gallery-carousel" data-aos="fade-up">
    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-1.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-2.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-3.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-4.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-5.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-6.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-7.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-8.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-9.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-10.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-11.png' %}" alt="" />
    </a>

    <a href="#" class="venobox" data-gall="gallery-carousel">
      <img src="{% static 'img/gallery/gallery-12.png' %}" alt="" />
    </a>
  </div>
</section>
{% endblock content %}
