<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-contact" data-aos="fade-up">
          <h3>FamUnite</h3>
          <p class="mb-4">901 Brickell Key Blvd #3103</p>
          <a href="mailto:casaso@berkeley.edu" class="text-dark-primary">casaso@berkeley.edu</a>
        </div>

        <div class="col-md-6 footer-links" data-aos="fade-up" data-aos-delay="100">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'find_loved_ones' %}">Find loved ones</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact_us' %}">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>FamUnite</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
