<header id="header" class="fixed-top header-scrolled bg-dark-primary">
  <div class="container d-flex align-items-center">
    <img src="static/img/logo.png" style="width:100px;" />
    <div class="logo mr-auto">
      <p class="text-light">Making Families Whole one Click at a Time</p>
    </div>     
    
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a class="text-light" href="{% url 'home' %}">Home</a></li>
        <li><a class="text-light" href="{% url 'find_loved_ones' %}">Find loved ones</a></li>
        <li><a class="text-light" href="{% url 'about' %}">About</a></li>
        <li><a class="text-light" href="{% url 'contact_us' %}">Contact Us</a></li>
      </ul>
    </nav>
  </div>

</header>
